/*

Compass Template
    
http://www.templatemo.com/tm-454-compass


http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)

*/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.pimg1,
.pimg2,
.pimg3 {
    position: relative;
    opacity: 0.80;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1 {
    background-image: url('../images/parallax2.jpg');
    min-height: 100%;
}

@media(max-width:568px) {
    .pimg1,
    .pimg2,
    .pimg3 {
        background-attachment: scroll;
    }
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    background: -webkit-gradient(linear, left top, left bottom, from(#161032), to(#9A031E));
    top: 0;
    left: 0;
}

.loader {
    position: absolute;
    top: 43%;
    left: 0;
    right: 0;
    transform: translateY(-43%);
    text-align: center;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

.box {
    width: 100%;
    height: 100%;
    background: #fff;
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
}

.shadow {
    width: 100%;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
}

@keyframes loader {
    0% {
        left: -110px
    }
    100% {
        left: 110%;
    }
}

@keyframes animate {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        transform: translateY(18px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }
    75% {
        transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes shadow {
    50% {
        transform: scale(1.2, 1);
    }
}

#tfnewsearch {
    float: right;
    padding: 20px;
}

.tftextinput {
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: 1px solid #0076a3;
    border-right: 0px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

.tfbutton {
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #9A031E;
    border-right: 0px;
    background: -webkit-gradient(linear, left top, left bottom, from(#9A031E), to(#9A031E));
    background: -moz-linear-gradient(top, #00adee, #0078a5);
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}

.tfbutton:hover {
    text-decoration: none;
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#9A031E), to(#9A031E));
    background: -moz-linear-gradient(top, #0095cc, #00678e);
}


/* Fixes submit button height problem in Firefox */

.tfbutton::-moz-focus-inner {
    border: 0;
}

.tfclear {
    clear: both;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*------------------------------------------------------
	Basic Styling 
--------------------------------------------------------*/

body {
    font: 13px/23px "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
    color: #777777;
}

a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

input::-moz-focus-inner {
    border: 0;
}


/*a:hover, a:active, a:focus {
  text-decoration: none;
  outline: none;
}*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

#home .main-header a:focus {
    background: -webkit-gradient(linear, left top, left bottom, from(#161032), to(#9A031E));
    border-radius: inherit;
    text-decoration: none;
}

.social-icons a:focus {
    background-color: #87ceeb;
    border-radius: 3px;
    text-decoration: none;
}

.top-header .right-header ul.social-icons,
.main-header .menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#services,
#portfolio,
#about,
#contact {
    padding-top: 120px;
}


/*------------------------------------------------------
	Header Styles 
--------------------------------------------------------*/

.top-header {
    background: -webkit-gradient(linear, left top, left bottom, from(#161032), to(#9A031E));
    color: white;
    padding: 10px 0;
}

.top-header .left-header span {
    display: inline-block;
    margin: 8px 30px 0 0;
}

.top-header .left-header span i {
    margin-right: 10px;
}

.top-header .right-header ul.social-icons li {
    display: inline-block;
}

.top-header .right-header ul.social-icons li a {
    color: white;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    border: 1px solid white;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    margin: 0 5px;
}

.top-header .right-header ul.social-icons li a:hover {
    background-color: white;
    color: #FF4500;
}

.main-header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    padding: 40px 0;
    background: white;
    -webkit-box-shadow: 0 2px 4px rgba(1, 1, 1, 0.15);
    -moz-box-shadow: 0 2px 4px rgba(1, 1, 1, 0.15);
    box-shadow: 0 2px 4px rgba(1, 1, 1, 0.15);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.main-header .logo {
    margin-top: 5px;
}

.main-header .logo h1 {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-header .logo h1 a {
    color: #444444;
    font-size: 18px;
}

.main-header .menu {
    margin-top: 10px;
}

.main-header .menu ul li {
    display: inline-block;
    margin-left: 15px;
}

.main-header .menu ul li a {
    text-transform: uppercase;
    color: #777777;
    font-size: 15px;
    padding: 8px 15px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.main-header .menu ul li a.current {
    background: -webkit-gradient(linear, left top, left bottom, from(#161032), to(#9A031E));
    color: white;
}

.main-header-shrink {
    padding: 25px 0;
    top: 0;
}

.responsive-menu {
    position: relative;
    top: -25px;
}

.responsive-menu .toggle-menu {
    font-size: 24px;
}

.responsive-menu .menu {
    display: none;
    position: absolute;
    top: 52px;
    width: 100%;
    background: #161032;
}

.responsive-menu .menu ul li {
    display: block;
    text-align: left;
    border-bottom: 1px solid #d1601c;
    margin: 0;
}

.responsive-menu .menu ul li:last-child {
    border-bottom: 0;
}

.responsive-menu .menu ul li a {
    color: white;
    padding: 15px 20px;
    display: block;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.responsive-menu .menu ul li a.current {
    background-color: #444444;
}


/*------------------------------------------------------
	Basic Layout Styles 
--------------------------------------------------------*/

.title-section {
    margin-bottom: 80px;
}

.title-section h2 {
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}

.title-section span {
    display: block;
    width: 70px;
    height: 4px;
    background: -webkit-gradient(linear, right top, left bottom, from(#1B998B), to(#F4E62A));
    margin: 0 auto;
}

.widget-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}

.mainBtn {
    background-color: #9A031E;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 14px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.mainBtn:hover {
    background-color: #444444;
}


/*------------------------------------------------------
	Services Styles 
--------------------------------------------------------*/

#services .service-item .service-header {
    padding-bottom: 20px;
    clear: both;
}

#services .service-item .service-header i {
    color: #9A031E;
    font-size: 24px;
    float: left;
    margin-right: 25px;
}

#services .service-item .service-header h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}


/*------------------------------------------------------
	Portfolio Styles 
--------------------------------------------------------*/

#portfolio {
    padding-bottom: 80px;
    margin-top: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(#161032), to(#9A031E));
}

#portfolio .title-section h2 {
    color: white;
}

#portfolio .portfolio-thumb {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

#portfolio .portfolio-thumb img {
    width: 100%;
    height: auto;
}

#portfolio .portfolio-thumb .overlay {
    opacity: 0;
    visibility: visible;
    background: -webkit-gradient(linear, left top, left bottom, from(#087E8B), to(#63E2C6));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#portfolio .portfolio-thumb .overlay .inner {
    position: absolute;
    padding: 20px;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
}

#portfolio .portfolio-thumb .overlay .inner h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

#portfolio .portfolio-thumb .overlay .inner h4 a {
    color: white;
    text-decoration: none;
}

#portfolio .portfolio-thumb .overlay .inner span {
    font-weight: 300;
    color: white;
    text-decoration: none;
}

#portfolio .portfolio-thumb .overlay .inner span a {
    text-decoration: underline;
    color: #fff
}

#portfolio .portfolio-thumb:hover .overlay {
    opacity: 1;
    visibility: visible;
}


/*------------------------------------------------------
	About Styles 
--------------------------------------------------------*/

#about .progess-bars li .progress {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #e6e6e6;
    height: 30px;
    margin-bottom: 15px;
}

#about .progess-bars li .progress-bar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    line-height: 30px;
    background: -webkit-gradient(linear, left top, right bottom, from(#9A031E), to(#F4E62A));
    text-transform: uppercase;
}


/*------------------------------------------------------
	Contact Styles 
--------------------------------------------------------*/

#contact .contact-form .full-row {
    width: 100%;
    margin-bottom: 20px;
}

#contact .contact-form input,
#contact .contact-form textarea {
    outline: 0;
    display: block;
    border: 1px solid #cccccc;
    width: 100%;
    max-width: 100%;
    padding: 8px 10px;
    color: #777777;
}

#contact .contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact .contact-form input.mainBtn {
    display: inline-block;
    width: auto;
    border: 0;
    padding: 10px 15px;
    color: white;
}


#contact .contact-info {
    margin-top: 30px;
}

#contact .contact-info span {
    margin-top: 20px;
    display: block;
    font-size: 14px;
}

#contact .contact-info span i {
    color: #9A031E;
    font-size: 16px;
    margin-right: 12px;
}


/*------------------------------------------------------
	Footer Styles 
--------------------------------------------------------*/

.site-footer {
    margin-top: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(#161032), to(#9A031E));
    color: white;
    padding: 25px 0;
}

.site-footer p {
    margin-top: 10px;
}

.site-footer a {
    color: white;
    text-align: center;
    display: block;
}

.site-footer .go-top {
    float: right;
    text-transform: uppercase;
}

.site-footer .go-top i {
    display: block;
}


/********************************
IPAD LANDSCAPE (1024x768)
********************************/


/********************************
IPAD PORTRAIT (768x1024)
********************************/

@media only screen and (max-width: 960px) {
    .flexslider {
        margin-top: 100px;
    }
    .main-header {
        padding: 15px 0;
    }
    .main-header .logo {
        margin-top: 20px;
    }
    .service-item,
    .team-member {
        margin-bottom: 50px;
    }
    .our-skills {
        margin-top: 60px;
    }
    .flex-caption {
        top: 20%;
    }
    .flex-caption h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .flex-caption p {
        font-size: 14px;
        width: 70%;
        margin: 0 auto;
    }
    .left-header,
    .right-header {
        text-align: center;
    }
}


/********************************
IPHONE 4-4S-5 LANDSCAPE (568x320)
********************************/

@media only screen and (max-width: 760px) {
    .flex-caption {
        display: none !important;
    }
    .contact-form {
        margin-bottom: 60px;
    }
    .main-header {
        height: 75px;
    }
    .main-header .logo {
        margin: 0;
    }
    .flexslider {
        margin-top: 60px;
    }
    .responsive-menu .menu {
        top: 32px;
    }
}



/********************************
IPHONE 4-4S-5 PORTRAIT (320x568)
********************************/